<ion-header>
  <ion-navbar ion-text color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ catname }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-searchbar (ionInput)="getItems($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
    </ion-row>
  </ion-grid>

  <div padding class="border-bottom text-lg">
    <span class="pull-left" (click)="chooseSortBy()" color="gray">
      {{ sortBy }}
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </span>   
    <ion-icon class="pull-right" name="apps" (click)="viewGrid()" [hidden]="viewType == 'grid'"></ion-icon>
    <ion-icon class="pull-right" name="menu" (click)="viewList()" [hidden]="viewType == 'list'"></ion-icon>    
    <div class="clear"></div>
  </div>

  <div padding class="border-bottom text-lg" *ngIf="filterName">
    Filter Applied : {{filterName}}
  </div>
  <!--List of items-->
  <ion-list no-margin class="list-full-border list-products" [ngClass]="{'grid': viewType == 'grid', 'list': viewType == 'list'}">
    <ion-item class="product"  *ngFor="let item of products" (click)="viewItem(item.url)">
      <ion-thumbnail item-left>
        <img class="prod-img" src="{{item.img}}">
      </ion-thumbnail>
      <h2 class="prod-name">{{ item.name }}</h2>
      <p>{{ item.descr }}</p>
      <div>
        <span style='color:red;text-decoration:line-through' ion-text color="danger" *ngIf="item.sales_offer==1 && item.retail_original_price>0">{{ item.retail_original_price | currency:'GBP':true }}</span>
        <span ion-text color="dark">{{ item.shopprice | currency:'GBP':true }}</span>
      </div>
      
    </ion-item>
  </ion-list> 
</ion-content>
<!--Footer buttons-->
<ion-footer class="category">
  <ion-toolbar position="bottom">
    <!--filter button-->
    <ion-grid *ngIf="!isDone">
      <ion-row>
        <ion-col width-50>Loading more products</ion-col>
        <ion-col width-50><ion-spinner name="dots"> Loading more products </ion-spinner></ion-col>
      </ion-row>
    </ion-grid>          
    <ion-buttons start *ngIf="isDone">
      <button ion-button icon-left (click)="openFilter(mainurl, catname)">
        <ion-icon name="ios-funnel"></ion-icon>
        Filter Products by Ranges
      </button>
    </ion-buttons>
    <!--attribute button-->    
  </ion-toolbar>
</ion-footer>